       *{
            padding: 0;
            margin: 0;
        }
        ::selection{
            color: white;
            background-color: rgba(252,80,113,1);
        }
        body{
            font-family:cooper;
            overflow-x: hidden;
            background-color: #09041c;
        }
        main{
            max-width: 100vw;
        }
        header{
            position: fixed;
            width: 100%;
            height: 80px;
            background-color:rgba(0,0,0,0.4);
            z-index: 1;
        }
        nav{
            position: absolute;
            top: 25px;
            right: 2vw;
        }
        nav ul a{
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
            font-size: 22px;
            list-style: none;
            transition: color .2s ease;
            box-sizing: border-box;
            padding: 26px 5px;
        }
        nav ul a:hover{
            color: rgba(255, 255, 255, 0.8);
        }
        nav ul a li{
            display: inline;
            margin: 0 2.6vw;
        }
        #home{
            position: relative;
            width: 100%;
            height: 130vh;
            background: linear-gradient(180deg, rgba(252,80,113,1) 0%, rgba(213,95,119,1) 12%, rgba(192,103,122,1) 21%, rgba(145,57,166,1) 94%);
        }
        .logo{
            position: absolute;
            top: 15px;
            left: 2vw;
            border-radius: 50%;
            width: 50px;
        }
        div{
            position: absolute;
            top: 85px;
            left: 220px;
            display: flex;
            align-items: center;
        }
        img{
            width: 100px;
        }
        h1{
            color: white;
            display: inline;
        }
        h1 span{
          color:  rgba(252,80,113,1);
        }
        form{
            position: absolute;
            background-image: url("form2.png");
            background-position-x: -140px;
            background-repeat: no-repeat;
            background-size: cover;
            left: calc(50% - 350px);
            top: 180px;
            width: 700px;
            height: 590px;
            border-radius: 20px;
            background-color: white;
            box-shadow: -7px 6px #c8c8c8;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            gap: 15px;
            box-sizing: border-box;
            padding-left: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #444;
        }
        label{
            font-size: 20px;
            width: 120px;
        }
        input{
            box-sizing: border-box;
            padding-left: 10px;
            font-size: 16px;
            width: 45%;
            height: 35px;
            border-radius: 5px;
            border: #999 solid 2px;
            background-color: #eee;
        }
        label[for="confirmpass"],label[for="wallet"]{
            width: 265px !important;
        }
        #submit{
            position: relative;
           background:linear-gradient(100deg, rgba(252,80,113,1) 0%, rgba(213,95,119,1) 12%, rgba(192,103,122,1) 21%, rgba(145,57,166,1) 94%);
           color: white;
           font-size: 18px;
           width: 30%;
           height: 45px;
           margin-left: 50px;
           border-radius: 0;
           border: 0;
           display: flex;
           align-items: center;
           justify-content: center;
           transform: translate(0);
           transition: all .2s ease-out;
           user-select: none;
        }
        #submit::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: #210d6b;
    bottom: -27.7px;
    left: 0px;
    transform: skew(-45deg, 0deg) translate(-27px,-17px);
    transform-origin: bottom;
    transition: .2s all ease-out;
}
#submit::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    BACKGROUND: rgb(161, 52, 74);
    transition: .2s all ease-out;
    transform: skew(0deg,-45deg) translate(-102px, -97px);
}
#submit:active
{
transform: translate(-6px,6px);
}
#submit:active::before{
    width: 4px;
    transform: skew(0deg,-45deg) translate(-99px, -97px);
}
        #submit:active::after{
           height: 4px;
           transform: skew(-45deg, 0deg) translate(-27px,-23px);
        }
        form p{
            margin-top: 30PX;
           width: 300px;
        }
        form img{
            position: absolute;
            right: 40px;
            width: 300px;
        }
        footer{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 100%;
            height: 100px;
            display: flex;
            background-color: #000;
            color: white;
            align-items: center;
            border-top: white 1px solid;
        }
        footer p{
            margin: 0 0 0 50px;
        }
        footer ul{
            margin: 0 0 0 400px;
        }
        footer ul a{
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
            font-size: 22px;
            list-style: none;
            transition: color .2s ease;
            box-sizing: border-box;
            padding: 0 5px;

        }
        footer ul a:hover{
            color: rgba(255, 255, 255, 0.8);
        }
        footer ul a li{
            display: inline;
            margin: 0 1.2vw;
        }
        @keyframes  toRight{
            from{opacity: 0;margin-left: -200px;}
            to{opacity: 1;margin-left: 0;}
        }
        @keyframes toTop {
            from{opacity: 0;margin-top: -200px;}
            to{opacity: 1;margin-top: 0;}
        }
